#menu ul{
    list-style: none;
  }
#menu li{
    display: inline;
}

#header h1 {
    text-align: center;
}

#bodyRegularText li h3 {
    text-align: left;
}

#bodyRegularText ul {
    display: table;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
}

#formulaOfSuccess {
    text-align: center;
}

#cowsay {
    text-align: center;
}